body {
  overflow-x: hidden !important;
}

.nav-link {
  color: #fff !important;
}

.Jumbotron {
  background: rgb(63, 94, 251);
  background: linear-gradient(100deg, #003f7c 0%, #003f7c 100%);
}

.tokoku,
.Pendidikan,
footer {
  background-color: #003f7c;
}
